{% extends "base.html" %}
{% block content %}
    {% if form %}
        <form method="post" action="#">
            {{ form.hidden_tag() }}
            <div class="form-row">
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {{ form.name(class="form-control") }}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}<small><font color="red">{{ error }}</font></small>{% endfor %}
                    {% endif %}
                </div>
            </div>
            <br>
            {{ form.submit }}
        </form>
        {% else %}
        <h3>Grupė sėkmingai pridėta!</h3>
    {% endif %}
    <br>
    <p>
        <a href="{{ url_for('add_group')}}">+ Sukurti kitą grupę</a>
        <br>
    </p>
{% endblock %}